<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ data?.PROFILE_TEXT?.V }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <b>Column 5 has <code>offset</code> set to <code>"2"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col offset="2">5</ion-col>
    </ion-row>
  </ion-grid>





  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
      <ion-col>7</ion-col>
      <ion-col>8</ion-col>
      <ion-col>9</ion-col>
      <ion-col>10</ion-col>
      <ion-col>11</ion-col>
      <ion-col>12</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>
  <b>Column 1 has <code>size</code> set to <code>"auto"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 3 contains an input and has <code>size</code> set to <code>"auto"</code></b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col size="auto">
        <ion-input placeholder="3"></ion-input>
      </ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 2 has <code>size</code> set to <code>"auto"</code> and a defined width</b>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col size="auto">
        <div style="width: 150px">2</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <b>Column 2 has <code>size</code> set to <code>"8"</code></b>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col size="8">2</ion-col>
    <ion-col>3</ion-col>
  </ion-row>
</ion-grid>

<b>Columns 3 & 4 have <code>size</code> set to <code>"3"</code></b>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col size="3">3</ion-col>
    <ion-col size="3">4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
  </ion-row>
</ion-grid>

<b>Columns 1 & 2 have <code>size</code> set to <code>"4"</code></b>
<ion-grid>
  <ion-row>
    <ion-col size="4">1</ion-col>
    <ion-col size="4">2</ion-col>
  </ion-row>
</ion-grid>

<b>Stacked for xs breakpoint, equal width for sm and up</b>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="3">1</ion-col>
    <ion-col size="12" size-sm="3">2</ion-col>
    <ion-col size="12" size-sm="3">3</ion-col>
    <ion-col size="12" size-sm="3">4</ion-col>
  </ion-row>
</ion-grid>

<b>Equal width until md breakpoint, last column takes full width for md and up</b>
<ion-grid>
  <ion-row>
    <ion-col size-md="6">1</ion-col>
    <ion-col size-md="6">2</ion-col>
    <ion-col size-md="12">3</ion-col>
  </ion-row>
</ion-grid>

<b>2 per row until md breakpoint, 3 per row for md, equal width for lg and up</b>
<ion-grid>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="2">1</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">2</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">3</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">4</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">5</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">6</ion-col>
  </ion-row>
</ion-grid>

<b>Column 2 has <code>offset</code> set to <code>"3"</code></b>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col offset="3">2</ion-col>
    <ion-col>3</ion-col>
  </ion-row>
</ion-grid>

<b>Column 5 has <code>offset</code> set to <code>"2"</code></b>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
    <ion-col offset="2">5</ion-col>
  </ion-row>
</ion-grid>

<b>Column 1 has <code>offset</code> set to <code>"4"</code></b>
<ion-grid>
  <ion-row>
    <ion-col size="2" offset="4">1</ion-col>
    <ion-col size="2">2</ion-col>
  </ion-row>
</ion-grid>

<b>No offset for xs breakpoint, offset 1st column for sm and up</b>
<ion-grid>
  <ion-row>
    <ion-col offset-sm="2">1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
    <ion-col>5</ion-col>
  </ion-row>
</ion-grid>

<b>No offset for xs breakpoint, offset last 3 columns for md and up</b>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col offset-md="2">2</ion-col>
    <ion-col offset-md="2">3</ion-col>
    <ion-col offset-md="2">4</ion-col>
  </ion-row>
</ion-grid>

<b>Offset all columns by 6 for xs breakpoint, offset by 4 for md, offset by 2 for lg and up</b>
<ion-grid>
  <ion-row>
    <ion-col offset="6" offset-md="4" offset-lg="2">1</ion-col>
    <ion-col offset="6" offset-md="4" offset-lg="2">2</ion-col>
  </ion-row>
</ion-grid>


<b>Column 1 has <code>push</code> set to <code>"4"</code> and column 2 has <code>pull</code> set to <code>"4"</code></b>
<ion-grid>
  <ion-row>
    <ion-col push="4">1</ion-col>
    <ion-col pull="4">2</ion-col>
    <ion-col>3</ion-col>
  </ion-row>
</ion-grid>

<b
  >Column 2 has <code>push</code> set to <code>"4"</code> and column 3 & 4 have <code>pull</code> set to
  <code>"2"</code></b
>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col push="4">2</ion-col>
    <ion-col pull="2">3</ion-col>
    <ion-col pull="2">4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
  </ion-row>
</ion-grid>

<b>Column 1 has <code>push</code> set to <code>"3"</code> and column 2 has <code>pull</code> set to <code>"9"</code></b>
<ion-grid>
  <ion-row>
    <ion-col size="9" push="3">1</ion-col>
    <ion-col size="3" pull="9">2</ion-col>
  </ion-row>
</ion-grid>


<b>No change for xs breakpoint, push 1st column & pull 2nd column for sm and up</b>
<ion-grid>
  <ion-row>
    <ion-col push-sm="6">1</ion-col>
    <ion-col pull-sm="6">2</ion-col>
  </ion-row>
</ion-grid>

<b>No change for xs breakpoint, push middle columns & pull last column for md and up</b>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col push-md="3">2</ion-col>
    <ion-col push-md="3">3</ion-col>
    <ion-col pull-md="6">4</ion-col>
  </ion-row>
</ion-grid>

<b>Switch first and last 3 columns for xs breakpoints, reverse columns for lg and up</b>
<ion-grid>
  <ion-row>
    <ion-col push="6" push-lg="10">1</ion-col>
    <ion-col push="6" push-lg="6">2</ion-col>
    <ion-col push="6" push-lg="2">3</ion-col>
    <ion-col pull="6" pull-lg="2">4</ion-col>
    <ion-col pull="6" pull-lg="6">5</ion-col>
    <ion-col pull="6" pull-lg="10">6</ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned at the top</b>
<ion-grid>
  <ion-row class="ion-align-items-start">
    <ion-col> 1 </ion-col>
    <ion-col> 2 </ion-col>
    <ion-col> 3 </ion-col>
    <ion-col>
      4 <br />
      # <br />
      # <br />
      # <br />
    </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned at the center</b>
<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col> 1 </ion-col>
    <ion-col> 2 </ion-col>
    <ion-col> 3 </ion-col>
    <ion-col>
      4 <br />
      # <br />
      # <br />
      # <br />
    </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned at the bottom</b>
<ion-grid>
  <ion-row class="ion-align-items-end">
    <ion-col> 1 </ion-col>
    <ion-col> 2 </ion-col>
    <ion-col> 3 </ion-col>
    <ion-col>
      4 <br />
      # <br />
      # <br />
      # <br />
    </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned at the start</b>
<ion-grid>
  <ion-row class="ion-justify-content-start">
    <ion-col size="3"> 1 </ion-col>
    <ion-col size="3"> 2 </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned at the center</b>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="3"> 1 </ion-col>
    <ion-col size="3"> 2 </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned at the end</b>
<ion-grid>
  <ion-row class="ion-justify-content-end">
    <ion-col size="3"> 1 </ion-col>
    <ion-col size="3"> 2 </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned with space around</b>
<ion-grid>
  <ion-row class="ion-justify-content-around">
    <ion-col size="3"> 1 </ion-col>
    <ion-col size="3"> 2 </ion-col>
  </ion-row>
</ion-grid>

<b>Columns aligned with space between</b>
<ion-grid>
  <ion-row class="ion-justify-content-between">
    <ion-col size="3"> 1 </ion-col>
    <ion-col size="3"> 2 </ion-col>
  </ion-row>
</ion-grid>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
  </ion-row>
</ion-grid>

<b>Total number of columns is set to <code>6</code>, column <code>size</code> is set to <code>1</code></b>
<ion-grid>
  <ion-row>
    <ion-col size="1">1</ion-col>
    <ion-col size="1">2</ion-col>
    <ion-col size="1">3</ion-col>
    <ion-col size="1">4</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
  </ion-row>
</ion-grid>









  <ion-grid>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="6" sizeXs="12" *ngFor="let element of data?.PROFILE; let i=index;">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ element?.label?.V}}</ion-card-subtitle>
            <ion-card-title *ngIf="element?.value?.V">{{ element?.value?.V }}</ion-card-title>
            <ion-card-title *ngIf="!element?.value?.V">{{ element?.default?.V }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>







