<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>{{ data?.HOME_TEXT?.V }}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>{{ data?.PROFILE_TEXT?.V }}</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="resume" href="/resume">
      <ion-icon aria-hidden="true" name="call-outline"></ion-icon>
      <ion-label>{{ data?.RESUME_TEXT?.V }}</ion-label>
    </ion-tab-button>

     <!-- <ion-tab-button tab="admin" href="/admin">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>{{ data?.ADMIN_TEXT?.V }}</ion-label>
    </ion-tab-button> -->



  </ion-tab-bar>
</ion-tabs>
