<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="cancel()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="confirm()">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ data?.HOME_TEXT?.V }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="speaker-card">
    <img alt="Silhouette of mountains"
    src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-input label="Enter your name"
      label-placement="floating"
      fill="outline"
      [(ngModel)]="editValue"
      [placeholder]="editValue">
    </ion-input>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button  (click)="cancel()"  shape="round"   color="medium">Cancel</ion-button>
    <ion-button  (click)="confirm()" [strong]="true" shape="round"> Confirm</ion-button>
  </ion-card>
</ion-content>
