<ion-app [class.dark-theme]="dark">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ data?.MENU_TITLE?.V }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-list-header>
            {{logDeviceInfo?.model}}-{{logDeviceInfo?.platform}}-{{logDeviceInfo?.operatingSystem}}
          </ion-list-header>
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>{{ data?.DARK_MODE?.V }}</ion-label>
            <ion-toggle [(ngModel)]="dark" [checked]="true"></ion-toggle>
          </ion-item>
          <ion-item routerLink="/home" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>
              {{data?.HOME_TEXT?.V}}
            </ion-label>
          </ion-item>

          <!-- <ion-item routerLink="/blog" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="mic-outline"></ion-icon>
            <ion-label>
              Blog
            </ion-label>
          </ion-item> -->

          <ion-item routerLink="/resume" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>
              {{data?.RESUME_TEXT?.V}}
            </ion-label>
          </ion-item>

          <!-- <ion-item routerLink="/call" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>
              {{data?.CALL_TEXT?.V}}
            </ion-label>
          </ion-item> -->

          <!-- <ion-item routerLink="/matrimonial" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="bed"></ion-icon>
            <ion-label>
              Matrimonial
            </ion-label>
          </ion-item> -->

        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
